body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: MediumBlue;
}

a:hover {
  background-color: lemonchiffon;
}

a:visited {
  color: MediumBlue;
}

main {
  width: 100%;
  max-width: 70em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;
  padding: 2em;
  line-height: 1.5;
}

ul > li,
ol > li {
  padding: 0.2em 0;
}

a[target="_blank"]::after {
  content: "↗";
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

form .inputs {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  align-items: start;
}

form .inputs-vertical {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form .optional-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px solid #0005;
  border-right: 4px solid #0005;
  padding: 0 0.2em;
  border-radius: 0.3em;
  gap: 0.2em;
}

form .optional-input .input-disable {
  font-size: 0.8em;
  align-self: flex-end;
}

form input[type="number"] {
  width: 4em;
}

form textarea {
  height: 10em;
  font-family: monospace;
}

form .input-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

details > div {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 4px solid #0005;
  border-radius: 0.3em;
}

details h3 {
  margin-top: 1em;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.css-variable {
  font-family: monospace;
  background-color: #0001;
  border-radius: 3px;
  padding: 4px 2px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.output-container {
  position: relative;
}

.output {
  border: 1px solid;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  --text-border-colour: transparent;
}

.output span {
  border: 1px solid var(--text-border-colour);
}

.output > p {
  margin: 0.5em;
}

#fallback {
  border-color: crimson;
  color: crimson;
}

.borders #fallback {
  --text-border-colour: #dc143caa;
}

#fallback.black {
  border-color: inherit;
  border-color: black;
  color: inherit;
}

#target {
  position: absolute;
  z-index: 10;
  border-color: black;
}

.borders #target {
  --text-border-colour: #000a;
}

pre {
  background: #0001;
  padding: 1em;
}

pre.narrow {
  display: inline-block;
  margin-top: 1em;
}

.hidden {
  visibility: hidden;
}

.comment {
  color: darkgreen;
  font-style: italic;
}
